# Qt / C++ build artifacts
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# Qt Creator files
*.pro.user
*.qbs.user
*.qmlproject.user
*.autosave

# Build directories
build/
bin/
debug/
release/

# Misc
*.log
*.tmp
